*{
  width: auto;
}

.wrapper{
  min-height: 100px;
  width: 350px;
  border: 2px solid blue;
  border-radius: 10px;
  background: grey;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#radioOption{
  display: none;
}

/* .center-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.center-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.2s;
}

.center-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.center-card h2 {
  margin-top: 0;
}

.center-card p {
  margin: 10px 0;
}

.kochi {
  background-color: violet;
  color: white;
}

.kottayam {
  background-color: purple;
  color: white;
}

.kannur {
  background-color: green;
  color: white;
}

.kozhikkode {
  background-color: greenyellow;
  color: white;
} */

